.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
  margin: 10px;
  border-width: .5em;
  text-align: center;;
}

.product-card {
  padding: 15px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 2px solid black;
}

.cardImg {
  width: 150px;
}

.NavBarContainer {
  position: relative;
  height: 100px;
  background-color:#9BB475;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.NavBarLogo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.NavBarLogoText {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NavBarLogo img {
  width: 45px;
  height: 45px;
}

.NavBarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 30px;
  font-size: 25px;
}

.SignUpLink, .LoginLink {
  margin: 15px;
}

.cartIcon {
  margin: 20px;
  font-size: 2.2rem;
}

a{
  color: white;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
  text-decoration: underline;
}

.LogOutButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.searchbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* .searchContainer{
  display
} */

.ProductListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 4rem;
  color: #9BB475;
  z-index: 10;
  width: 70px;
  height: 70px;
}

.left-arrow{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 4rem;
  color: #9BB475;
  z-index: 10;
  width: 70px;
  height: 70px;
}

.imgProduct {
  width: 1550px;
  height: 800px;
}

.SignUpContainer form,
.LogInContainer form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.SignUpContainer input,
.LogInContainer input {
  height: 30px;
  width: 200px;
}

.SignUpContainer label {
  font-family: Georgia, 'Times New Roman', Times, serif
}

.CartProductContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px;
  justify-content: space-between;
}

.CartProductContainer div {
  margin: 10px;
}

.CartTitle {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}


.CartEmpty {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

.column-labels {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;
}


.CartProductContainer {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.CartProductImg img {
  width: 100px;
  height: 100px
}

.CartProductName {
  margin-right: 20px;
  font-family: bold;
}

.totals {
  margin-right: 20px;
}

.totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals-value {
  float: right;
    width: 21%;
    text-align: right;
}

.Checkout {
  float: right;
  border: 1em;
  margin-top: 15px;
  padding: 6px 25px;
  background-color: #6b6;
  border-radius: 3px;
}

.Checkout button {
  background: none;
  border: none;
  font-size: 25px;
  color: #fff;
}

.CartProductName {
  margin-right: 20px;
}

.LogOutButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.CartPlusIcon, .CartMinusIcon {
  background: none;
  border: none;
  font-size: 20px;
}

.CartQuantity {
  border: 1px solid black;
  border-radius: 10px;
}

.LogInForm input, .FormSignin input {
  margin-bottom: 20px;
}

.LogInError, .SignUpError {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.LogInBtn, .SignUpBtn {
  background: #9BB475;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: whitesmoke;
}

.FormSignin label, .LogInForm label {
  float: left;
  width: 210px;
}